
* {
	font-family: Poppins, Arial, sans-serif;
	font-weight: 300;
}

nav a {
	padding: 10px;
	list-style: none;
	text-decoration: none;
	color: black;
}

nav {
    display: inline-flex;
    gap: 10px;
    justify-content: flex-end;
    flex-wrap: nowrap;
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}

#current-page {
	color: #0050ff;
}

div {
	padding:10px;
}

h1 {
	font-size: 80px;
	font-weight: 700;
	margin-bottom: 10px;
	margin-top: 30px;
}

h2 {
	font-weight: bold;
}

strong {
	font-weight: bold;
}

#image-me {
	border-radius:50% 50% 50% 50% / 50% 50% 50% 50%;
}

#resume-button {
	background-color: #0050ff;
	color: white;
	border-radius: 20px;
	padding: 10px 30px;
	text-decoration: none;
	margin: auto;
	font-weight: bold;
}

#projects-button {
	background-color: white;
	border: 2px solid black;
	border-radius: 20px;
	padding: 10px 30px;
	text-decoration: none;
	margin: auto;
	font-weight: bold;
}

a:visited {
	color: black;
}

.project-description a:visited {
	color: #0000EE;
}

.container {
	flex: 1 0 auto;
	max-width: 90%;
	margin: auto;
	margin-top: 106px;
}

header {
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	z-index: 1;
}

#topname {
	display: inline-block;
}

.title {
	display: inline-block;
}

.main-content {
	display: flex;
	max-width: 50%;
	justify-content: center;
	margin: auto;
	margin-bottom: 5vh;
	margin-top: 5vh;
	padding-left: 8vw;
	padding-top: 4vh;
	gap: 20px;
}

.box-me {
	padding:50px;
	background-color: #f4ece6;
	box-shadow: #99928d -5px 5px 5px;
	top: 100px;
}


span {
	font-size: 18px;
}

.box-project {
	width: 80%;
	margin: auto;
	background-color: #f4ece6;
	box-shadow: #99928d -5px 5px 5px;
	position: relative;
	margin-top: 50px;
	text-align: left;
}

.intro-paragraph {
	margin-top: 3vh;
	margin-right: 8vw;
}

#box-projects-title {
	position: relative;
	top: 100px;
	text-align: center;
	margin-bottom: 40px;
}

#projects {
	font-size: 40px;
}

.project-text {
	width: 65%;
	float: left;
	padding-left: 2%;
}

.project-description {
	text-align: justify;
	padding-left: 5%;
}

.project-image-container {
	width: 30%;
	float: right;
	text-align: center;
}

.buttons {
    display: flex;
    gap: 10px;
}

#resume-button {
	margin: 2px 5px;
}

#projects-button {
	margin: 2px 5px;
}

footer {
	flex-shrink: 0;
	margin-bottom: 10;
}

.footer-table {
	margin-right: 0px;
	margin-left: auto;
}

td {
	text-align: center;
	padding: 0 20px;
}

tr {
	text-align: center;
}

#about-body {
	overflow: auto;
	height: 97vh;
	background: linear-gradient(
		to right,
		#e6dace 0%,
		#e6dace 45%,
		#ffffff 4%,
		#ffffff 100%
	);
	display: flex;
	flex-direction: column;
}

body {
	height: 100vh;
	background: #e6dace;
}